@{
    ViewData["Title"] = "Anasayfa";
}

<div id="homeMain" class="d-flex flex-align-center flex-justify-center w-100">

    <div class="d-flex flex-justify-center flex-wrap manageMainContainer" style="max-width:1200px;">
        <a data-role="tile" data-size="wide" class="shadowed bg-blue m-10" asp-controller="Exam" asp-action="Create">
            <span class="mif-enter icon"></span>
            <span class="branding-bar">Sınav Oluştur</span>
        </a>
        <a data-role="tile" data-size="wide" class="shadowed bg-green m-10" asp-controller="Exam" asp-action="GetExam">
            <span class="mif-enter icon"></span>
            <span class="branding-bar">Sınava Gir</span>
        </a>
    </div>
</div>
